<section class="changepass">
    <div class="container pt-5">
        <div class="">
            <h3 class="fw-semibold  fs-4 ">Change Your Password?</h3>
            
            <form action="" [formGroup]="ChangePass" (ngSubmit)="Change()">
                <div class="row text-start mt-4">
                    <div class="col-md-12">
                        <div *ngIf="Error.length>0" class="alert alert-danger">
                            <p>{{Error}}</p>
                        </div>
                        <label class="text-muted my-3" for="Email">Email</label>
                        <input type="text" formControlName="email" id="Email" class="form-control">
    
                        <label class="text-muted my-3" for="newPassword">New password</label>
                        <input type="text" formControlName="newPassword" id="newPassword" class="form-control">
                        <div *ngIf="ChangePass.get('newPassword')?.errors && ChangePass.get('newPassword')?.touched"
                            class="alert alert-danger">
                            <p *ngIf="ChangePass.get('newPassword')?.getError('required')">newPassword Is Required</p>
                            <p *ngIf="ChangePass.get('newPassword')?.getError('newPassword')">newPassword Is in-valid</p>
                        </div>
    
                        <button   type="submit" class="btn btn-primary d-block mx-auto mt-3"><i  *ngIf="login"
                                class="fa-solid fa-spinner fa-spin-pulse"></i><span *ngIf="! login">Change My
                                Password</span></button>
                      
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</section>