<footer>
    <div class="container py-5">
       
            <div class="d-flex justify-content-around flex-wrap Content">
            <div>
                 <img src="./assets/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg" class="w-50 " alt="">
                 <p class="bg-white  d-flex mt-3 Name p-3 fw-semibold  rounded-3 text-center"> <span *ngIf="name.length>0">{{'Hi '+name|uppercase }}</span> <span *ngIf="name.length==0">JOIN THE COMMUNITY</span></p>
            </div>
             <div class=" mx-md-1 mt-xxl-0 mt-xl-0 mt-4 text-white">
                <h3 class="fw-semibold">{{'THE BASICS'|translate}}</h3>
                <p>{{'About TMDB'|translate}}</p>
                <p>{{'Contact Us'|translate}}</p>
                <p>{{'Support Forums'|translate}}</p>
                <p>API</p>
                <p>{{'System Status'|translate}}</p>
             </div>
             <div class="mx-md-1 mt-xxl-0 mt-xl-0 mt-4 text-white">
                <h3 class="fw-semibold">{{'GET INVOLVED'|translate}}</h3>
                <p>{{'Contribution Bible'|translate}}</p>
                <p>{{'Add New Movie'|translate}}</p>
                <p>{{'Add New TV Show'|translate}}</p>
             </div>
             <div class="mx-md-1 mt-xxl-0 mt-xl-0 mt-4 text-white">
                <h3 class="fw-semibold">{{'COMMUNITY'|translate}}</h3>
                <p>{{'Guidelines'|translate}}</p>
                <p>{{'Discussions'|translate}}</p>
                <p>{{'Leaderboard'|translate}}</p>
                <p>{{'Twitter'|translate}}</p>
             </div>
             <div class="mx-md-1 mt-xxl-0 mt-xl-0 mt-4 text-white">
                <h3 class="fw-semibold">{{'LEGAL'|translate}}</h3>
                <p>{{'Terms of Use'|translate}}</p>
                <p>{{'API Terms of Use'|translate}}</p>
                <p>{{'Support Forums'|translate}}</p>
                <p>{{'Privacy Policy'|translate}}</p>
             </div>
             
        </div>
    </div>
</footer>