<section class="">
    <div class="container">
    <div id="Headeringx" class="Headering p-5">
            <h2 class="h1 fw-bold fs-1 text-white">{{"Welcome"|translate}}</h2>
            <p class="text-white fs-5 fw-semibold">{{"Millions of movies, TV shows and people to discover. Explore now."|translate}}</p>
            <div class="search position-relative mt-5">
                <input (keyup)="OpenSearch($event)" [(ngModel)]="searchTerm" type="text" class="form-control inputColor form-control-lg rounded-pill" [placeholder]="'Search for a Movie,tv show,Person....'|translate" name="" id="" >
                <button (click)="search()"  class="btn btn-info text-white fw-semibold rounded-pill position-absolute top-0 end-0">Search</button>
            </div>
        </div>
    </div>
</section>

<app-tranding-slider ></app-tranding-slider>
<app-latest-trailer-slider></app-latest-trailer-slider>
<app-popular-slider></app-popular-slider>